:root {
    --size: calc(1vh + 1vw);
}

body {
    padding-top: 5rem;
    overflow-x: hidden;
    background-color: #1d1d1d;
    color: white;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5rem;
    transition: padding-left 0.5s linear;
}

@font-face {
    font-family: 'Pixel';
    src: local('Pixel'),
         url('./components/style/fonts/Pixel.ttf') format('truetype');
}

::-webkit-scrollbar-track {
	background-color: #fff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #6a6a6a;
}

::-webkit-scrollbar {
	width: 10px;
}
